@use 'sass:color';
@use '@/assets/styles/_variables.scss' as *;
@use '@/assets/styles/_mixins.scss' as *;

// Global styles
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

code {
  background: rgba(var(--v-theme-primary), 0.08);
  padding: 4px 8px;
  border-radius: 4px;
  border: rgba(var(--v-theme-primary), 0.18) 1px solid;
  letter-spacing: 1px !important;
  display: inline-block;
  font-family: $font-family-mono !important;
}

.text-h6,
.text-body-1,
.text-body-2,
.text-subtitle-1,
.text-subtitle-2,
.text-caption,
.text-overline {
  font-family: $font-family-base !important;
}

.font-base {
  font-family: $font-family-base !important;
}

.font-mono {
  font-family: $font-family-mono !important;
  letter-spacing: 1px !important;
}

.full-bleed {
  @include full-bleed;
}

.full-bleed-sm {
  @media (max-width: $breakpoint-sm) {
    @include full-bleed;
  }
}

.full-bleed-md {
  @media (max-width: $breakpoint-md) {
    @include full-bleed;
  }
}

.text-xs-truncate {
  @include text-xs-truncate;
}

.h-screen-content {
  @include h-screen-content;
}

.h-fit {
  height: fit-content !important;
}

.h-max {
  height: max-content !important;
}

.h-min {
  height: min-content !important;
}

.w-fit {
  width: fit-content !important;
}

.w-max {
  width: max-content !important;
}

.w-min {
  width: min-content !important;
}

.min-h-fit {
  min-height: fit-content !important;
}

.min-h-max {
  min-height: max-content !important;
}

.min-h-min {
  min-height: min-content !important;
}

.min-w-fit {
  min-width: -webkit-fill-available;
}

.min-w-max {
  min-width: max-content !important;
}

.min-w-min {
  min-width: min-content !important;
}

.w-unset {
  width: unset !important;
}

.w-xs-unset {
  @media (min-width: 360px) {
    width: unset !important;
  }
}

ul,
ol {
  padding-left: 1.8rem;
}

li {
  margin-bottom: 0.5rem;
}

.custom-link {
  color: rgb(var(--v-theme-primary));
  position: relative;
  text-decoration: none;
}

.auth-main-content {
  @media (max-width: $breakpoint-sm) {
    @include h-screen-content;
    display: flex;
    align-items: normal !important;
  }
}

.page-padding {
  @include page-padding;
}

.custom-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgba(var(--v-theme-primary), 0.7);
  bottom: -2px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.custom-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.section-spacing {
  flex-direction: column;
  display: flex;
  gap: 24px;
}

.section-spacing-sm {
  flex-direction: column;
  display: flex;
  gap: 16px;
}

.text-truncate-none {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: unset !important;
}

.text-truncate-wrap {
  white-space: wrap !important;
  word-wrap: normal !important;
}

.main-header {
  text-shadow: 4px 4px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 500;
  line-height: 1.05;
  letter-spacing: normal;
  @include text-xs-truncate;
}

.sub-header {
  text-shadow: 4px 4px rgba(0, 0, 0, 0.1);
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  font-weight: 400;
  @include text-xxs-truncate;
}

body {
  // Custom scrollbar
  ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: color.adjust(#47453d, $lightness: 10%);
    border-radius: 0;
    border: 5px solid transparent;
    background-clip: padding-box;

    &:hover {
      background: color.adjust(#47453d, $lightness: 20%);
      background-clip: padding-box;
      cursor: pointer;
    }
  }

  main ::-webkit-scrollbar-button {
    background: color.adjust(#47453d, $lightness: 10%);
    border-radius: 0;
    background-clip: padding-box;
    border: 5px solid transparent;

    &:hover {
      background: color.adjust(#47453d, $lightness: 20%);
      background-clip: padding-box;
      cursor: pointer;
    }
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

th {
  background: rgb(var(--v-theme-primary)) !important;
  color: rgb(var(--v-theme-on-primary)) !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  height: 56px !important;
}
